@font-face {
    font-family: 'Glitch';
    src: url('../assets/glitch.ttf');
}

.home-body {
    background-repeat: repeat-y;
    background-size: cover;
    background: radial-gradient(circle, rgb(245, 198, 218) 0%, rgb(181, 212, 247) 100%);
    background-image: url("../assets/Screenshot\ 2023-03-14\ 054318.png");
    height: 70vh;
    width: 100vw;
}

.home-selection {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-left: -4%;
}


/* make images standardised */

.home-selection select, button {
    background-color: lightcyan;
    color: lightskyblue;
    border-radius: 8px;
    padding: 0.1em 0.2em;
    margin: 1em 0em;
    font-size: 1rem;
    text-align: left;
    transition: transform 800ms;
    border: 0;
}

.home-selection button:hover {
    transform: scale(1.08);
    font-weight: bold;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.results h2 {
    color: white;
    text-align: center;
    margin-top: 1rem;
    font-family: 'Glitch';
    font-size: 3rem;
    max-width: 300px;
    word-break: normal;
}

.inner-image {
    border: 3px solid rgba(224, 141, 245, 0.753);
    /* border: 3px solid rgba(75, 73, 73, 0.623); */
    border-radius: 2.5rem;
    padding: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(233, 155, 243, 0.301);
    background:repeating-linear-gradient(rgba(236, 178, 188, 0.3), rgba(236, 178, 188, 0.3) 3px, rgba(233, 155, 243, 0.301) 3px, rgba(233, 155, 243, 0.301) 9px);
    /* background-color: grey; */
    /* background:repeating-linear-gradient(rgba(93, 87, 94, 0.301), rgba(93, 87, 94, 0.301) 3px,rgba(150, 147, 151, 0.753) 3px, rgba(150, 147, 151, 0.753) 9px); */
    height: 100%;
    overflow: hidden;
    animation: pan-overlay 22s infinite linear;
}

@keyframes pan-overlay {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 0px -1000px;
    }
}

.inner-image img {
    height: 40vh;
    width: auto;
    border-radius: 1rem;
    animation: fadeIn ease 8s;
    display: flex;
    margin: 0 auto;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

#secret {
    color: #FFDD43;
}

/* https://codepen.io/lincohn/pen/JjPZgXw */
/* lol refer to my issues... */
#secret:not(:focus) {
    transform: translateY(0);
    box-shadow:
      inset 0 0 60px whitesmoke,
      inset 20px 0 80px #f0f,
      inset -20px 0 80px #0ff,
      inset 20px 0 300px #f0f,
      inset -20px 0 300px #0ff,
      0 0 50px #fff,
      -10px 0 80px #f0f,
      10px 0 80px #0ff;
    border-radius: 20px;
}

@media screen and (min-width: 768px) {
    .home-selection select, button {
    padding: 0.75em 1.5em;
    margin: 1em 0em;
    font-size: 1.3rem;
}
    
}