.home-body {
    background-repeat: no-repeat;
    background-size: cover;
    background: radial-gradient(circle, rgb(245, 198, 218) 0%, rgb(181, 212, 247) 100%);
    background-image: url("../assets/Screenshot\ 2023-03-14\ 054318.png");
    height: 70vh;
    width: 100vw;
}

.home-selection {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-left: -4%;
}


/* make images standardised */

.home-selection select, button {
    background-color: lightcyan;
    color: lightskyblue;
    border-radius: 8px;
    padding: 0.75em 1.5em;
    margin: 1em 0em;
    font-size: 1.3rem;
    text-align: left;
    transition: transform 800ms;
    border: 0;
}

.home-selection button:hover {
    transform: scale(1.08);
    font-weight: bold;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.results h2 {
    color: white;
}

.inner-image {
    border: 3px solid rgba(224, 141, 245, 0.753);
    border-radius: 1rem;
    padding: 1rem;
    padding-bottom: 5rem;
    background-color: rgba(233, 155, 243, 0.301);
    background:repeating-linear-gradient(rgba(236, 178, 188, 0.3), rgba(236, 178, 188, 0.3) 3px, rgba(233, 155, 243, 0.301) 3px, rgba(233, 155, 243, 0.301) 9px);
    height: 100%;
    overflow: hidden;
    animation: pan-overlay 22s infinite linear;
}

@keyframes pan-overlay {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 0px -1000px;
    }
}

.inner-image img {
    height: 40vh;
    width: auto;
    border-radius: 1rem;
}